<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blake.przewodnikturystyczny"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <permission
        android:name="blake.przewodnikturystyczny.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="blake.przewodnikturystyczny.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended. 
     
     Do pobierania lokalizacji
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Uruchamia OpenGL ES version 2 do renderowania mapy -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="przewodnik.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="
            blake.przewodnikturystyczny.baza.model.TabBranza,
            blake.przewodnikturystyczny.baza.model.TabBudynek,
            blake.przewodnikturystyczny.baza.model.TabMiejsce,
            blake.przewodnikturystyczny.baza.model.TabOkres,
            blake.przewodnikturystyczny.baza.model.TabPostac,
            blake.przewodnikturystyczny.baza.model.TabRod,
            blake.przewodnikturystyczny.baza.model.TabRzecz,
            blake.przewodnikturystyczny.baza.model.TabWydarzenie,
            blake.przewodnikturystyczny.baza.model.pomocniczy.TabMiejsceWydarzenie,
            blake.przewodnikturystyczny.baza.model.pomocniczy.TabMiejsceRzecz" />

        <!-- Powyżej tagi ActiveAndroida -->

        android:parentActivityName="pl.javastart.actionbartest.upbutton.EntryListActivity"
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Mapa"
            android:label="@string/title_activity_mapa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ListaExp"
            android:label="@string/demo_str"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCqj8oJ9k8iB9oVlZ18J9Qc148TXY7WUpI" />

        <activity
            android:name=".ListaExp"
            android:label="@string/title_activity_lista_exp" >
        </activity>
    </application>

</manifest>